@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-900: #30C67C;
    --color-primary-800: #3ECE85;
    --color-primary-700: #4BD58E;
    --color-primary-600: #59DD97;
    --color-primary-500: #67E59F;
    --color-primary-400: #74ECA8;
    --color-primary-300: #82F4B1;
}

* {
    font-family: "Roboto", system-ui;
}